<!-- include header -->
<%- include('include/_header') %>
<!-- include header -->

<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex-justify-between">
      <a href="/add-user" class="border-shadow">
        <span class="text-gradient">새로운 유저 <i class="fas fa-user"></i></span>
      </a>
    </div>

    <!-- form handling -->
    <form action="/" method="POST">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>이메일</th>
            <th>성별</th>
            <th>상태</th>
            <th>활동</th>
          </tr>
        </thead>
        <tbody>
          <%- include('include/_show') %>
        </tbody>
      </table>
    </form>
  </div>
</main>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- include footer -->